@* @using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor accessor *@
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<h1>@ViewBag.Data</h1>
<h1>@TempData["SessionId"]</h1>
@* <h1>@accessor.HttpContext.Session.GetString("MyKey")</h1> *@
