@model AspValidation.Models.Student
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form asp-controller = "Home" asp-action="Index" method="post">
                <input asp-for="name" class="form-control" placeholder="Enter Name" />
                <span asp-validation-for = "name" style="color:red"></span>
                <br />
                <input asp-for="email" class="form-control" placeholder="Enter Mail" />
                <span asp-validation-for="email" style="color:red"></span>
                <br />
                <input asp-for="age" class="form-control" placeholder="Enter Age" />
                <span asp-validation-for="age" style="color:red"></span>
                <br />
                <input asp-for="password" class="form-control" placeholder="Enter password" />
                <span asp-validation-for="password" style="color:red"></span>
                <br />
                <input value="submit" type="submit" class="btn btn-outline-primary" />
            </form>
        </div>
    </div>
</div>