
@{
    ViewData["Title"] = "About";
    // Layout = "~/Views/Shared/_layout.cshtml";
    // Layout = "~/Views/Shared/_layout1.cshtml";
    Layout = null;
}

<h1>This is About View From Homecontroller</h1>
<h1>About Us Page</h1>
